{
  "parser": "@typescript-eslint/parser",
  "extends": "@atomix/eslint-config-react",
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }]
  }
}
